@model C5.Models.ViewModels.CheckoutViewModel

<h2>🛒 Xác nhận đơn hàng</h2>

<table class="table">
    <thead>
        <tr>
            <th>Sản phẩm</th>
            <th>Số lượng</th>
            <th>Đơn giá</th>
            <th>Thành tiền</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CartItems)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.Quantity</td>
                <td>@item.UnitPrice.ToString("N0") đ</td>
                <td>@(item.Quantity * item.UnitPrice) đ</td>
            </tr>
        }
    </tbody>
</table>

<h4>Tổng tiền: <b>@Model.TotalAmount.ToString("N0") đ</b></h4>

<hr>

<h4>Nhập mã giảm giá:</h4>
<form method="post" asp-action="Checkout">
    <div class="input-group mb-3">
        <input type="text" name="VoucherCode" class="form-control" placeholder="Nhập mã giảm giá" value="@Model.VoucherCode">
        <button type="submit" class="btn btn-success">Áp dụng</button>
    </div>
</form>

@if (Model.DiscountPercent > 0)
{
    <h5>Giảm giá: <b>@Model.DiscountPercent% (-@Model.DiscountAmount.ToString("N0") đ)</b></h5>
    <h4>Thành tiền sau giảm: <b>@Model.FinalAmount.ToString("N0") đ</b></h4>
}

<hr>

<h4>Chọn phương thức thanh toán:</h4>

<form asp-action="PlaceOrder" asp-controller="Order" method="post">
    <input type="hidden" name="FinalAmount" value="@Model.FinalAmount" />
    <input type="hidden" name="VoucherCode" value="@Model.VoucherCode" />

    <div class="form-check">
        <input class="form-check-input" type="radio" name="PaymentMethod" value="Cash" checked>
        <label class="form-check-label">💵 Thanh toán khi nhận hàng</label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="PaymentMethod" value="BankTransfer">
        <label class="form-check-label">🏦 Chuyển khoản ngân hàng</label>
    </div>
    @* <div>
        <input type="radio" id="vnpay" name="PaymentMethod" value="VNPay">
        <input type="hidden" name="Name" value="@User.Identity.Name" />
        <input type="hidden" name="Amount" value="@Model.FinalAmount" />
        <input type="hidden" name="OrderDescription" value="Thanh toán qua Vnpay FastFoodStore" />
        <input type="hidden" name="OrderType" value="orher" />
        <label for="vnpay">Thanh toán qua VNPay</label>
    </div> *@
    <div>
        <input type="radio" id="momo" name="PaymentMethod" value="MOMO">
        <input type="hidden" name="FullName" value="@User.Identity.Name" />
        <input type="hidden" name="Amount" value="@Model.FinalAmount" />
        <input type="hidden" name="OrderInfo" value="Thanh toán qua Momo Payment" />
        <label class="form-check-label">🏦 Chuyển khoản qua ví Momo </label>
    </div>
    <button type="submit" class="btn btn-primary mt-3">📦 Xác nhận thanh toán</button>
</form>